<main>
  <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <section class="container mx-auto mt-8 px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
          <h2 class="text-2xl font-semibold mb-4">About Me</h2>
          <p class="text-gray-300">Experienced Software Engineer adept in bringing forth expertise in
            design, installation, testing and maintenance of software systems. 9 years
            of experience with full stack development. Knowledge of Python,
            JavaScript, Go, API's, PHP, Linix, CSS, HTML, Node.js, Angular, Git, CICD,
            Unit Testing, Kubernetes, OpenShift, Docker, AWS, Azure, GCP.</p>
        </div>
        <div>
          <h2 class="text-2xl font-semibold mb-4">Education</h2>
          <ul class="text-gray-300">
            <li>University of Texas at San Antonio</li>
            <li>Bachelor of Science, Mathematics</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="container mx-auto mt-8 px-4">
      <h2 class="text-2xl font-semibold mb-4">Experience</h2>
      <div class="mb-4">
        <h3 class="text-xl font-semibold">Software Engineer - IBM</h3>
        <h3 class="text-xl font-semibold">2019 - Present</h3>
        <ul class="list-disc">
          <li class="text-gray-300">Created and designed Kubernetes Operator written in Go that configured an OpenShift cluster for IBM Technology Zone Deployer.</li>
          <li class="text-gray-300">Worked on the IBM Technology Zone Deployer team. Our mission
            was to simplify installing IBM Cloud Paks on OpenShift.</li>
          <li class="text-gray-300">Created OpenShift Dynamic plugin written in React to extend
            OpenShift UI and created a lifecycle manager for IBM Technology
            Zone Deployer.</li>
          <li class="text-gray-300">Created Tekton Pipelines that installed Cloud Pak for Security and
            Cloud Pak for Business Automation.</li>
          <li class="text-gray-300">Used GitHub as well as Unit Test via Travis CI to test and deploy
            Containers to quay.io and Docker Hub.</li>
          <li class="text-gray-300">CUsed AWS, Azure and GCP to deploy and test OpenShift clusters.</li>
          <li class="text-gray-300">Worked on Python based CLI to speed up the installation of
            OpenShift on AWS, Azure, GCP and IBM Cloud.</li>
          <li class="text-gray-300">Worked on Go based CLI to interface with Web based API.</li>
          <li class="text-gray-300">Developed and maintained software in multiple programming
            languages, such as Go, Java, Python, and JavaScript.</li>
          <!-- ... -->
        </ul>
      </div>
      <div class="mb-4">
        <h3 class="text-xl font-semibold">Software Engineer - BCS ProSoft</h3>
        <h3 class="text-xl font-semibold">2017 - 2019</h3>
        <ul class="list-disc">
          <li class="text-gray-300">Designed and developed an Angular web application that integrated with Sage 100 ERP, streamlining business processes and improving data accuracy.</li>
          <li class="text-gray-300">Wrote highly maintainable, solid code for software system, forming core framework and earning consistent praise from subsequent developers since initial version.</li>
          <li class="text-gray-300">Revised, modularized and updated old code bases to modern development standards, reducing operating costs and improving functionality.</li>
        </ul>
        <p class="text-gray-300"></p>
      </div>
    </section>
    <section class="container mx-auto mt-8 px-4 md:max-xl:flex">
      <h2 class="text-2xl font-semibold mb-4">Skills</h2>
      <div class="mb-4 container mx-auto">
        <ul class="inline-flex list-none md:list-disc space-x-8 w-full lg:w-3/4 xl:w-1/2">
          <li><p class="text-gray-300">JavaScript/TypeScript</p></li>
          <li><p class="text-gray-300">React</p></li>
          <li><p class="text-gray-300">Angular</p></li>
          <li><p class="text-gray-300">PHP</p></li>
          <li><p class="text-gray-300">Python</p></li>
          <li><p class="text-gray-300">Java</p></li>
          <li><p class="text-gray-300">HTML/CSS/jQuery</p></li>
          <li><p class="text-gray-300">AWS</p></li>
          <li><p class="text-gray-300">Git/GitHub</p></li>
          <li><p class="text-gray-300">OpenShift</p></li>
          <li><p class="text-gray-300">Linux</p></li>
          <li><p class="text-gray-300">MySQL</p></li>
        </ul>
      </div>
    </section>
  </div>
</main>
