<main>
  <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <section class="container mx-auto mt-8 px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
          <h2 class="text-2xl font-semibold mb-4">About Me</h2>
          <p class="text-gray-300">Software Engineer with over 8 years of experience with full stack development. Knowledge of OpenShift, Docker, Kubernetes, JavaScript, Python, API design, PHP, Linux, CSS, HTML, Node.js, Angular, Git, GitHub, Tekton, Travis CI, Unit Testing.</p>
        </div>
        <div>
          <h2 class="text-2xl font-semibold mb-4">Education</h2>
          <ul class="text-gray-300">
            <li>University of Texas at San Antonio</li>
            <li>Bachelor of Science, Mathematics</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="container mx-auto mt-8 px-4">
      <h2 class="text-2xl font-semibold mb-4">Experience</h2>
      <div class="mb-4">
        <h3 class="text-xl font-semibold">Software Engineer - IBM</h3>
        <h3 class="text-xl font-semibold">2019 - Present</h3>
        <ul class="list-disc">
          <li class="text-gray-300">Worked on python based OpenShift installer named OCPI. OCPI provides menu-based CLI tool to make provisioning of Red Hat OpenShift clusters and IBM Cloud Paks for technology engineers, whether it's for a single cluster or hundreds of clusters. OCP Installer supports cluster creation on AWS, Azure, GCP, IBM Cloud and air-gap, and installs IBM Cloud Paks, Turbonomic and Instana with GitOps principles.</li>
          <li class="text-gray-300">Created Tekton pipelines that installed CP4S and CP4BA on RedHat OpenShift.</li>
          <li class="text-gray-300">Created Electron based app to interface with OCP.</li>
          <li class="text-gray-300">Installed and configured software applications and tested solutions for functionality.</li>
          <li class="text-gray-300">Reviewed project specifications and designed technology solutions that met or exceeded performance expectations.</li>
          <!-- ... -->
        </ul>
      </div>
      <div class="mb-4">
        <h3 class="text-xl font-semibold">Software Engineer - BCS ProSoft</h3>
        <h3 class="text-xl font-semibold">2017 - 2019</h3>
        <ul class="list-disc">
          <li class="text-gray-300">Designed and developed an Angular web application that integrated with Sage 100 ERP, streamlining business processes and improving data accuracy.</li>
          <li class="text-gray-300">Wrote highly maintainable, solid code for software system, forming core framework and earning consistent praise from subsequent developers since initial version.</li>
          <li class="text-gray-300">Revised, modularized and updated old code bases to modern development standards, reducing operating costs and improving functionality.</li>
        </ul>
        <p class="text-gray-300"></p>
      </div>
    </section>
    <section class="container mx-auto mt-8 px-4">
      <h2 class="text-2xl font-semibold mb-4">Skills</h2>
      <div class="mb-4">
        <ul class="inline-flex list-none space-x-4">
          <li><p class="text-gray-300">• JavaScript with React, Angular</p></li>
          <li><p class="text-gray-300">• PHP</p></li>
          <li><p class="text-gray-300">• Python</p></li>
          <li><p class="text-gray-300">• Java</p></li>
          <li><p class="text-gray-300">• HTML/CSS/jQuery</p></li>
          <li><p class="text-gray-300">• AWS</p></li>
          <li><p class="text-gray-300">• Git/GitHub</p></li>
          <li><p class="text-gray-300">• OpenShift</p></li>
          <li><p class="text-gray-300">• Linux</p></li>
          <li><p class="text-gray-300">• MySQL</p></li>
        </ul>
      </div>
    </section>
  </div>
</main>
